{% extends 'base.html' %}




{% block ja%}
<div class="langChg" lang="ja">
    <p>最近の取り組み</p>
    <div class="sales">
        TOEIC 900点超えを目指して勉強中。
    </div>
    <div class="sales">
        副業として開発のできる案件を募集しています。
    </div>
</div>
{%endblock%}

{% block en%}
<div class="langChg" lang="ja">
    <p>最近の取り組み</p>
    <div class="sales">
        Studying English to top the TOEIC score of over 900.
    </div>
    <div class="sales">
        As a side business, I am looking for a project where I can work as a programmer.
    </div>
</div>
{%endblock%}