{% extends 'base.html' %}



{% block ja%}
<div class="langChg" lang="ja">
    <p class="service">webサイト・アプリ開発導入支援</p>
    <div class="sales">
        業界歴5年以上のエンジニアが要求定義から運用保守までサポートします。
    </div>
    <div class="langs">
        <p>対応言語: HTML, CSS, JavaScript, Python, Golang</p>
        <p>その他の言語も取り扱っています。是非ご連絡ください。</p>
    </div>
    <p class="service">翻訳サービス</p>
    <div class="sales">
        あなたのビジネスを世界へ発信するために、弊社スタッフが文書・提案書を現地語へ翻訳いたします。
    </div>
    <div class="langs">
        対応言語: 日本語・英語・フランス語
    </div>
    <p class="service">コンサルティング</p>
    <div class="sales">
        営業・事業戦略に関する不安を解消いたします。提案書作成・リサーチワークなどでサポートいたします。
    </div>
</div>
{%endblock%}

{% block en%}
<div class="langChg" lang="en">
    <p class="service">Developmant and Introduction of Websites and Applications</p>
    <div class="sales">
        From developmant requirement to safetey use, we all support your projects.
    </div>
    <div class="langs">
        <p>Available now: HTML, CSS, JavaScript, Python, Golang</p>
        <p>Please contact me as to other languages.</p>
    </div>
    <p class="service">Teanslation Services</p>
    <div class="sales">
        Our staff members localize your projects through documents and proposals.
    </div>
    <div class="langs">
        Available now: Japanese, English, French
    </div>
    <p class="service">Consulting Services</p>
    <div class="sales">
        We all help you with your sales and business strategy by writing proposals or research papers.
    </div>
</div>
{%endblock%}