{% extends 'base.html' %}




{% block ja%}
<div class="langChg" lang="ja">
    <p>2022年から現在 </p>
    <div class="sales">
        通信会社にてITコンサルタントとして勤務中。その他業務自動化を推進しています。
    </div>
    <p>2019年から2021年</p>
    <div class="sales">
        通信会社にエンジニアとして勤務。Python, Node.jsを主に扱いました。
    </div>
    <p>2018年から2019年</p>
    <div class="sales">
        証券会社にエンジニアとして勤務。PCキッティング、トラブルシューティング、翻訳など幅広い業務が現在の糧に。
    </div>
</div>
{%endblock%}

{% block en%}
<div class="langChg" lang="ja">
    <p>Now from 2022 </p>
    <div class="sales">
        IT consultant for a telecommunication company. Also serve to promote RPA works.
    </div>
    <p>2019 to 2021</p>
    <div class="sales">
        IT engineer for a telecommunication company. Mainly deal with Python and Node.js.
    </div>
    <p>2018 to 2019</p>
    <div class="sales">
       IT engineer for a securities company. Works ther varied from PC kitting to troubleshooting and translation for documents.
    </div>
</div>
{%endblock%}